<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AirlineReservationSystem"
			 connectionString="Data Source=FAHAD\SQLEXPRESS01;Initial Catalog=AirlineReservationSystem;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=30;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="TwilioAccountSid" value=""/>
		<add key="TwilioAuthToken" value=""/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
